# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
Data/enriched_social-media-posts-fortune-1000-companies_data.csv
Data/fortune1000_2024.csv
Data/allCompanyData.json
Data/10Mar2025.json
Data/complete_preprocessed_companyData.csv
Data/complete_preprocessed_companyData_allData.csv
Data/enriched_companyData_complete.csv
Data/fortune1000_2024.csv.csv
Data/spacy_sample_tokens.pkl
Data/spacy_tokenized_allData.pkl
Data/spacy_tokenized_sample.pkl
Models/GensimLdaModel_SpacyTokens_TopicCount10
Models/GensimLdaModel_SpacyTokens_TopicCount10.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount10.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount10.state
Models/GensimLdaModel_SpacyTokens_TopicCount12
Models/GensimLdaModel_SpacyTokens_TopicCount12.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount12.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount12.state
Models/GensimLdaModel_SpacyTokens_TopicCount14
Models/GensimLdaModel_SpacyTokens_TopicCount14.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount14.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount14.state
Models/GensimLdaModel_SpacyTokens_TopicCount16
Models/GensimLdaModel_SpacyTokens_TopicCount16.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount16.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount16.state
Models/GensimLdaModel_SpacyTokens_TopicCount18
Models/GensimLdaModel_SpacyTokens_TopicCount18.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount18.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount18.state
Models/GensimLdaModel_SpacyTokens_TopicCount2
Models/GensimLdaModel_SpacyTokens_TopicCount2.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount2.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount2.state
Models/GensimLdaModel_SpacyTokens_TopicCount20
Models/GensimLdaModel_SpacyTokens_TopicCount20.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount20.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount20.state
Models/GensimLdaModel_SpacyTokens_TopicCount20_allData
Models/GensimLdaModel_SpacyTokens_TopicCount20_allData.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount20_allData.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount20_allData.state
Models/GensimLdaModel_SpacyTokens_TopicCount22
Models/GensimLdaModel_SpacyTokens_TopicCount22.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount22.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount22.state
Models/GensimLdaModel_SpacyTokens_TopicCount24
Models/GensimLdaModel_SpacyTokens_TopicCount24.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount24.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount24.state
Models/GensimLdaModel_SpacyTokens_TopicCount26
Models/GensimLdaModel_SpacyTokens_TopicCount26.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount26.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount26.state
Models/GensimLdaModel_SpacyTokens_TopicCount28
Models/GensimLdaModel_SpacyTokens_TopicCount28.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount28.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount28.state
Models/GensimLdaModel_SpacyTokens_TopicCount4
Models/GensimLdaModel_SpacyTokens_TopicCount4.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount4.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount4.state
Models/GensimLdaModel_SpacyTokens_TopicCount6
Models/GensimLdaModel_SpacyTokens_TopicCount6.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount6.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount6.state
Models/GensimLdaModel_SpacyTokens_TopicCount8
Models/GensimLdaModel_SpacyTokens_TopicCount8.expElogbeta.npy
Models/GensimLdaModel_SpacyTokens_TopicCount8.id2word
Models/GensimLdaModel_SpacyTokens_TopicCount8.state
Models/GensimLdaModel_TopicCount10
Models/GensimLdaModel_TopicCount10.expElogbeta.npy
Models/GensimLdaModel_TopicCount10.id2word
Models/GensimLdaModel_TopicCount10.state
Models/GensimLdaModel_TopicCount11
Models/GensimLdaModel_TopicCount11.expElogbeta.npy
Models/GensimLdaModel_TopicCount11.id2word
Models/GensimLdaModel_TopicCount11.state
Models/GensimLdaModel_TopicCount12
Models/GensimLdaModel_TopicCount12.expElogbeta.npy
Models/GensimLdaModel_TopicCount12.id2word
Models/GensimLdaModel_TopicCount12.state
Models/GensimLdaModel_TopicCount13
Models/GensimLdaModel_TopicCount13.expElogbeta.npy
Models/GensimLdaModel_TopicCount13.id2word
Models/GensimLdaModel_TopicCount13.state
Models/GensimLdaModel_TopicCount14
Models/GensimLdaModel_TopicCount14.expElogbeta.npy
Models/GensimLdaModel_TopicCount14.id2word
Models/GensimLdaModel_TopicCount14.state
Models/GensimLdaModel_TopicCount15
Models/GensimLdaModel_TopicCount15.expElogbeta.npy
Models/GensimLdaModel_TopicCount15.id2word
Models/GensimLdaModel_TopicCount15.state
Models/GensimLdaModel_TopicCount16
Models/GensimLdaModel_TopicCount16.expElogbeta.npy
Models/GensimLdaModel_TopicCount16.id2word
Models/GensimLdaModel_TopicCount16.state
Models/GensimLdaModel_TopicCount18
Models/GensimLdaModel_TopicCount18.expElogbeta.npy
Models/GensimLdaModel_TopicCount18.id2word
Models/GensimLdaModel_TopicCount18.state
Models/GensimLdaModel_TopicCount2
Models/GensimLdaModel_TopicCount2.expElogbeta.npy
Models/GensimLdaModel_TopicCount2.id2word
Models/GensimLdaModel_TopicCount2.state
Models/GensimLdaModel_TopicCount20
Models/GensimLdaModel_TopicCount20.expElogbeta.npy
Models/GensimLdaModel_TopicCount20.id2word
Models/GensimLdaModel_TopicCount20.state
Models/GensimLdaModel_TopicCount22
Models/GensimLdaModel_TopicCount22.expElogbeta.npy
Models/GensimLdaModel_TopicCount22.id2word
Models/GensimLdaModel_TopicCount22.state
Models/GensimLdaModel_TopicCount24
Models/GensimLdaModel_TopicCount24.expElogbeta.npy
Models/GensimLdaModel_TopicCount24.id2word
Models/GensimLdaModel_TopicCount24.state
Models/GensimLdaModel_TopicCount25
Models/GensimLdaModel_TopicCount25.expElogbeta.npy
Models/GensimLdaModel_TopicCount25.id2word
Models/GensimLdaModel_TopicCount25.state
Models/GensimLdaModel_TopicCount26
Models/GensimLdaModel_TopicCount26.expElogbeta.npy
Models/GensimLdaModel_TopicCount26.id2word
Models/GensimLdaModel_TopicCount26.state
Models/GensimLdaModel_TopicCount28
Models/GensimLdaModel_TopicCount28.expElogbeta.npy
Models/GensimLdaModel_TopicCount28.id2word
Models/GensimLdaModel_TopicCount28.state
Models/GensimLdaModel_TopicCount4
Models/GensimLdaModel_TopicCount4.expElogbeta.npy
Models/GensimLdaModel_TopicCount4.id2word
Models/GensimLdaModel_TopicCount4.state
Models/GensimLdaModel_TopicCount5
Models/GensimLdaModel_TopicCount5.expElogbeta.npy
Models/GensimLdaModel_TopicCount5.id2word
Models/GensimLdaModel_TopicCount5.state
Models/GensimLdaModel_TopicCount50
Models/GensimLdaModel_TopicCount50.expElogbeta.npy
Models/GensimLdaModel_TopicCount50.id2word
Models/GensimLdaModel_TopicCount50.state
Models/GensimLdaModel_TopicCount6
Models/GensimLdaModel_TopicCount6.expElogbeta.npy
Models/GensimLdaModel_TopicCount6.id2word
Models/GensimLdaModel_TopicCount6.state
Models/GensimLdaModel_TopicCount7
Models/GensimLdaModel_TopicCount7.expElogbeta.npy
Models/GensimLdaModel_TopicCount7.id2word
Models/GensimLdaModel_TopicCount7.state
Models/GensimLdaModel_TopicCount8
Models/GensimLdaModel_TopicCount8.expElogbeta.npy
Models/GensimLdaModel_TopicCount8.id2word
Models/GensimLdaModel_TopicCount8.state
Models/GensimLdaModel_TopicCount9
Models/GensimLdaModel_TopicCount9.expElogbeta.npy
Models/GensimLdaModel_TopicCount9.id2word
Models/GensimLdaModel_TopicCount9.state
